<!-- templates/registration/login.html -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main.css'%}">

</head>
<body>
    
</body>
</html>
<form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Log In</button>
</form>
    {{form.errors}}
<br>
 {%for message in messages%}
  <p id="messages">{{message}}</p>
 {%endfor%}
<div>
<a href="{%url 'register'%}">REGISTER</a>
</div>


